.isi{
    padding: 50px;
}

footer {
    background-color: #783719;
    color: white;
    padding: 40px 0;
}

footer h4, footer h5 {
    color: #f1e3d3;
}

footer a {
  color: inherit;         
  text-decoration: none;  
}

footer a:hover {
  color: #f4a261;         
  text-decoration: underline; 
}

footer i {
  margin-right: 8px;
  color: #f1e3d3;
}

.btn-warning {
    background-color: #f8edd6;
    border: none;
}

.navbar-brand{
color: #AB2A02;
font-family: "DM Serif Display", serif;
font-style: italic;
}

.navbar{
padding: 20px;
border-radius: 5px;
background-color: #fbdfa2;
}

header {
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-weight: bold;
}

.contact-section {
  padding: 3rem 0;
}

.contact-section h4,
.contact-section h5 {
  color: #783719;
}

.form-control,
textarea {
  border-radius: 0.5rem;
  box-shadow: none;
  border: 1px solid #ccc;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-warning:hover {
  background-color: #ffb300;
}

i {
  margin-right: 8px;
}
