.carousel-item img {
    height: 50vh;
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
}
.carousel-caption h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
.carousel-caption p {
    font-size: 1.2rem;
}
.about {
    background-color: #fbdfa2;
    border-radius: 20px;
    margin: 40px auto;
    padding: 30px;
    border: 2px solid #452216;
    max-width: 900px;
}
footer {
    background-color: #783719;
    color: white;
    padding: 40px 0;
}
footer h4, footer h5 {
    color: #f1e3d3;
}
.btn-warning {
    background-color: #f8edd6;
    border: none;
}

.navbar-brand{
color: #AB2A02;
font-family: "DM Serif Display", serif;
font-style: italic;
}

.navbar{
padding: 20px;
border-radius: 5px;
}

.hover-feature {
transition: all 0.3s ease;
transform: translateY(0);
}
.hover-feature:hover {
transform: translateY(-10px);
background-color: #fff0c2;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
cursor: pointer;
}

.reks{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 20px;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.reks::-webkit-scrollbar {
    display: none;
}

.recs{
    background-color: white;
    border: solid 1px #d5c3b8;
    border-radius: 5px;
    width: 80% ;
    max-width: 250px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 0;
}

.isi{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.recs img {
    width: 100%;
    max-width: 250px;
    height: 200px;
    align-self: center;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}

h4{
    color: #783719;
    margin: 0;
}

.desc{
    color: black;
    margin: 0;
    height: 4.5em;        
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}


.rating{
    color: #766f64;
}

.page-recs{
    margin: 10px 80px;
    padding: 20px;
}

.page-recs h3 {
    font-family: "DM Serif Display", serif;
    color: #783719;
}

a{
    text-decoration: none;
}

@media (min-width: 600px) {
    .recs {
        width: 45%; 
    }
}

@media (min-width: 900px) {
    .recs {
        width: 30%; 
    }
}